.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wide {
  width: 100%;
}
.tall {
  height: 100%;
}
.wrap {
  flex-wrap: wrap;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-space-even {
  justify-content: space-evenly;
}
.flex-start {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.flex-grow {
  flex-grow: 1;
}

.text-center{
  text-align: center;
}