#home-page {
  grid-area: hp;
  font-size: 1.2em;
}
#home-paragraph {
  padding: 10px;
  margin-left: 17px;
  text-align: center;
}
#home-btn-container {
  flex-direction: column;
}
.landing-btn {
  border: 1px solid #4caf50;
  color: darkseagreen;
  background-color: white;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  padding-bottom: 2px;
  display: inline-block;
  min-width: 75px;
  font-size: 15px;
}
.landing-links {
  color: darkseagreen;
  font-weight: bold;
}
/* Custom break point Small Screens*/
@media (min-width: 600px) and (max-width: 660px) {
  #home-page {
    font-size: 1.2em;
  }
  #home-heading {
    line-height: 2px;
  }
  #home-paragraph {
    max-width: 550px;
  }
  .landing-btn {
    border: 1px solid #4caf50;
    color: #4caf50;
    width: 175px;
    padding: 20px 32px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}
/* Medium & Large Screens*/
@media (min-width: 660px) {
  #home-page {
    padding-top: 25px;
  }
  #home-heading {
    line-height: 2px;
  }
  #home-paragraph {
    max-width: 550px;
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .landing-btn {
    border: 1px solid #4caf50;
    color: #4caf50;
    width: 175px;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}
