@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

/* font-family: 'Oswald', sans-serif; */

.navbar {
  position: fixed;
  width: 98%;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
}
.left-nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 500px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
}
#logo-image {
  width: 145px;
  height: auto;
}
#logo-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#logo-text {
  margin-top: 24px;
  margin-left: -28px;
  font-family: "Oswald", sans-serif;
}
.nav-links {
  padding-top: 24px;
  left: 50px;
}
.right-nav {
  /* grid-area: rightnav; */
  position: relative;
  display: inline-flex;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
}
#search-icon {
  width: auto;
  height: 34px;
  padding-left: 5px;
  
}
#search-input {
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid;
  font-size: 17px;
}
#search-btn {
  display: contents;
}
